@import '~@fluentui/react/dist/sass/References.scss';

.dashboard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.dashboardContainer {
  font-family: "Segoe UI", sans-serif;
  padding: 16px;
}

.section {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.sectionHeader {
  background-color: #f4f4f4;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sectionHeader:hover {
  background-color: #eaeaea;
}

.sectionContent {
  padding: 16px;
  background-color: #fff;
}
